Source: flexiproxy
Build-Depends: debhelper (>= 7.0.50~),po-debconf
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <info@vitexsoftware.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/FlexiProxy

Package: flexiproxy
Depends: ${misc:Depends},flexiproxy-core,flexiproxy-logochanger,flexiproxy-pricelist-images
Recommends: flexibee
Architecture: all
Section: web
Priority: optional
Description: FlexiProxy metapackage
 Install this package to get full application

Package: flexiproxy-core
Depends: ${misc:Depends},flexipeehp,composer,php5-intl | php7.0-intl | php7.1-intl
Recommends: flexibee
Architecture: all
Section: web
Priority: optional
Description: Communtcate with FlexiBee and modify its input/output
 Take FlexiBee web interface or api Request or response and modify it
 somehow using additional modules.

Package: flexiproxy-apache
Depends: ${misc:Depends},flexiproxy-core,apache2
Architecture: all
Section: web
Priority: optional
Description: Apache Configuration for FlexiProxy
 Prepare FlexiProxy virtualhost

Package: flexiproxy-logochanger
Depends: ${misc:Depends},flexiproxy-core
Recommends: flexibee
Architecture: all
Section: web
Priority: optional
Description: Modify default logo on FlexiBee
 Allow you to show your own logo on FlexiBee web interface

Package: flexiproxy-pricelist-images
Depends: ${misc:Depends},flexiproxy-core
Recommends: flexibee
Architecture: all
Section: web
Priority: optional
Description: Modify default logo on FlexiBee
 Allow you to show your own logo on FlexiBee web interface

