# Source debconf library.
. /usr/share/debconf/confmodule

db_version 2.0

#Replace Key Value in PhinX Config File
replaceJSON() {
    cfg="/etc/flexiproxy/config.json"
    sed -i "/${1}/c\        \"${1}\": \"${2}\"," $cfg
}

# FlexiBee URL
db_input high flexiproxy/FLEXIBEE_URL || true
db_go

# FlexiBee API login
db_input high flexiproxy/FLEXIBEE_LOGIN || true
db_go

# FlexiBee API password
db_input high flexiproxy/FLEXIBEE_PASSWORD || true
db_go

# FlexiBee API password
db_input medium flexiproxy/FLEXIBEE_COMPANY || true
db_go

db_input high  flexiproxy/STORAGE || true
db_go

db_input high  flexiproxy/ISDOC_DIR || true
db_go

if [ -f /etc/flexiproxy/config.json ] ; then
    echo Updating /etc/flexiproxy/config.json

    db_get flexiproxy/FLEXIBEE_URL
    replaceJSON "FLEXIBEE_URL" ${RET}

    db_get flexiproxy/FLEXIBEE_LOGIN
    replaceJSON "FLEXIBEE_LOGIN" ${RET}

    db_get flexiproxy/FLEXIBEE_PASSWORD
    replaceJSON "FLEXIBEE_PASSWORD" ${RET}

    db_get flexiproxy/FLEXIBEE_COMPANY
    replaceJSON "FLEXIBEE_COMPANY" ${RET}

    db_get flexiproxy/STORAGE
    replaceJSON "storage" ${RET}

    db_get flexiproxy/ISDOC_DIR
    replaceJSON "inputdir" ${RET}

    mkdir -p ${RET}


fi