# Source debconf library.
. /usr/share/debconf/confmodule

db_version 2.0

#Replace Key Value in PhinX Config File
replaceJSON() {
    cfg="/etc/flexiproxy/config.json"
    sed -i "/${1}/c\        \"${1}\": \"${2}\"," $cfg
}

listOfConfigs="FLEXIBEE_URL
FLEXIBEE_LOGIN
FLEXIBEE_PASSWORD
FLEXIBEE_COMPANY
access_policy
debug"

IFS='
'

for keyword in $listOfConfigs
do
  db_get "flexiproxy/$keyword"
  if [ "$RET" = "false" ]; then
    db_input critical "flexiproxy/$keyword" || true
    db_go
    fi
  replaceJSON "$keyword" $RET
done


if [ -f /etc/flexiproxy/config.json ] ; then
    echo Updating /etc/flexiproxy/config.json

    db_get flexiproxy/FLEXIBEE_URL
    replaceJSON "FLEXIBEE_URL" ${RET}

    db_get flexiproxy/FLEXIBEE_LOGIN
    replaceJSON "FLEXIBEE_LOGIN" ${RET}

    db_get flexiproxy/FLEXIBEE_PASSWORD
    replaceJSON "FLEXIBEE_PASSWORD" ${RET}

    db_get flexiproxy/FLEXIBEE_COMPANY
    replaceJSON "FLEXIBEE_COMPANY" ${RET}

    db_get flexiproxy/ACCESS
    replaceJSON "access_policy" ${RET}


fi
