#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	sed -i -e 's/\.\.\//.\//g'                        debian/flexiproxy-core/usr/share/flexiproxy/about.php
	sed -i -e 's/..\/vendor/\/var\/lib\/flexiproxy/g' debian/flexiproxy-core/usr/share/flexiproxy/includes/Init.php
	sed -i -e 's/..\/locale/\/usr\/share\/locale/g'   debian/flexiproxy-core/usr/share/flexiproxy/includes/Init.php
	sed -i "/confdir/c\\$$\options = ['confdir' => '/etc/flexiproxy/'];" debian/flexiproxy-core/usr/share/flexiproxy/includes/Init.php

override_dh_clean:
	debconf-updatepo
	dh_clean
